<div class="profile-container" *ngIf="user">
    <h2>User Profile</h2>

    <div class="profile-field">
        <strong>Name:</strong>
        <span *ngIf="!isEditing">{{ user.name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="updatedName" />
    </div>

    <div class="profile-field">
        <strong>Email:</strong>
        <span>{{ user.email }}</span>
    </div>

    <div class="profile-field">
        <strong>Contact Number:</strong>
        <span>{{ user.co_number }}</span>
    </div>

    <div class="profile-actions">
        <button *ngIf="!isEditing" pButton label="Update user" (click)="enableEdit()" class="btn-update"></button>

        <button *ngIf="isEditing" pButton label="Save" (click)="updateUser()" class="btn-save"></button>

        <button pButton label="Delete Account" (click)="deleteUser()" class="btn-delete"></button>
    </div>


    <p *ngIf="message" class="message">{{ message }}</p>
</div>

<app-dialog-box *ngIf="showDialog" title="Confirm Deletion" message="Are you sure you want to delete your account?"
    confirmText="Delete" cancelText="Cancel" (onConfirm)="handleDeleteConfirm()"
    (onCancel)="showDialog = false"></app-dialog-box>