<div class="reset-password-container">
    <div class = "image"></div>
    <form class="reset-password" (submit)="onResetPassword(); $event.preventDefault()">
        <h2>Reset Password</h2>

        <label for="email">Email:</label>
        <input pInputText id="email" type="email" [(ngModel)]="email" name="email" required />

        <label for="newPassword">New Password:</label>
        <p-password id="newPassword" [(ngModel)]="newPassword" name="newPassword" toggleMask="true" feedback="false"
            required></p-password>

        <label for="confirmPassword">Confirm Password:</label>
        <p-password id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" toggleMask="true"
            feedback="false" required></p-password>

        <button pButton type="submit" label="Reset Password" class="p-button-primary"></button>

        <a routerLink="/login">Back to Login</a>
    </form>
</div>