<div class="reset-password-container">
  <div class="image"></div>

  <form class="reset-password" (submit)="onResetPassword(); $event.preventDefault()">
    <h2>Reset Password</h2>

    <input pInputText id="email" type="email" [(ngModel)]="email" name="email" placeholder="Email" required />

    <p-password id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" toggleMask="true" feedback="false" required></p-password>

    <p-password id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" toggleMask="true" feedback="false" required></p-password>

    <button pButton type="submit" label="Reset Password" class="p-button-primary"></button>

    <a routerLink="/login">Back to Login</a>
  </form>
</div>
