<div class="login-container">
    <div class="login-image"></div>

    <form class="login-form" (submit)="onLogin(); $event.preventDefault()">
        <h2>Login</h2>

        <input pInputText type="email" [(ngModel)]="email" name="email" placeholder="Email" required />

        <p-password [(ngModel)]="password" name="password" placeholder="Password" toggleMask="true" feedback="false"
            required></p-password>

        <button pButton type="submit" label="Login" class="p-button-primary"></button>

        <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
        <p>Forgot your password? <a routerLink="/reset-password">Reset it here</a></p>
    </form>
</div>