.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px #9f9ea1;
  width: 90%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1d1160;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #1d1160;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
}
